:root{
    --light: #D4F7D4;
    --green: #559E54;
    --teal: #236AB9;
    --blue: #183BF0;
    --dark: #091034;
    ;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--teal);
}